.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.header li:nth-child(2) {
  flex-basis: 70%;
}
.avatar {
  border-radius: 50%;
  width: 50px;
  margin-left: 1.5em;
}
.userInfo {
  text-align: center;
  padding: 0.5em 0.2em;
}
.headerName {
  color: #7d97cb;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.headerActions {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.customModal {
  max-width: 500px;
  margin: 0;
  padding: 0;
}
.formSettings {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  padding: 1em;
  font-size: 1.2rem;
}
.formSettings h2 {
  color: #92b0ec;
  text-align: center;
  margin-bottom: 1em;
}
.inputDesc {
  display: block;
  margin-bottom: 0.5em;
  font-size: 0.9rem;
}
.modalInput {
  width: 100%;
  font-size: 1rem;
  border: 1px solid rgba(33, 33, 33, 0.7);
  border-radius: 4px;
  padding: 4px 8px;
  margin-bottom: 0.5em;
}
.modalInput::placeholder {
  font-size: 0.8rem;
  color: rgba(117, 117, 117, 0.5);
}
.radioBox {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
}
.radioStart {
  color: green;
}
.radioPro {
  color: blue;
}
.radioBusiness {
  color: red;
}
.inputFile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  cursor: pointer;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding: 1em 0.5em;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 4px;
}
.inputFile:hover {
  transform: scale(1.2);
}
.hiddenInput {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.formButton {
  width: 60%;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8em 0.6em;
  border: 1px solid transparent;
  border-radius: 100px;
  margin: 0 auto;
  background-color: #92b0ec;
  color: white;
  margin-top: 1em;
}
