:root {
  --main-bg-color: linear-gradient(#92b0ec, #567995);
  --input-text-color-main: black;
  --input-border-color-main: gray;
  --input-placeholder-color-main: rgba(3, 3, 3, 0.3);
  --form-background-main: white;
  --main-text-color: #617bb0;
  //   --121212: #121212;
  //   --BEDBB0: #bedbb0;
  //   --FFFFFF: #ffffff;
  //   --8FA1D0: #8fa1d0;
  //   --E09CB5: #e09cb5;
  //   --1F1F1F: #1f1f1f;
  //   --9DC888: #9dc888;
  //   --161616: #161616;
  //   --F6F6F7: #f6f6f7;
  //   --8FA1D0: #8fa1d0;
  //   --5255BC: #5255bc;
  //   --B8BCFD: #b8bcfd;
  //   --979CEA: #979cea;
  //   --7B7EDE: #7b7ede;
  //   --ECEDFD: #ecedfd;
}
