.form {
  background-color: var(--form-background-main);
  color: #617bb0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: auto;
  width: 80%;
  padding: 1em 2em;
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-align: center;
  @media screen and (min-width: 750px) {
    width: 50%;
  }
  @media screen and (min-width: 1000px) {
    width: 30%;
  }
}
.formHeader {
  color: #617bb0;
  font-size: 1.5rem;
  padding: 1em 2em;
}
